<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head'); -%>
</head>
<body class="container">

    <header>
        <%- include('navigation'); -%>
    </header>
    
    <main>
        <div class="jumbotron">
            <h1>Tuotteet</h1>
            <ul>
              <% products.forEach(function(product) { %>
                <li><a href="/tuote/<%= product.tuoteid %>"><%= product.nimi %> - <%= product.hinta %></a></li>
              <% }); %>
            </ul>
        </div>
    </main>

    <footer>
        <%- include('footer'); -%>
    </footer>
</body>
</html>